@model BuscaFIPE.Models.InfosFipeApiViewModel

<div id="veiculoSelecionado">
    <p>Valor do veiculo: @Model.VeiculoSelecionado.Valor</p>
    <p>Marca: @Model.VeiculoSelecionado.Marca</p>
    <p>Modelo: @Model.VeiculoSelecionado.Modelo</p>
    <p>Ano do modelo: @Model.VeiculoSelecionado.AnoModelo</p>
    <p>Combustível: @Model.VeiculoSelecionado.Combustivel</p>
    <p>Código Fipe: @Model.VeiculoSelecionado.CodigoFipe</p>
    <p>Mês de referência: @Model.VeiculoSelecionado.MesReferencia</p>
</div>
