@model BuscaFIPE.Models.InfosFipeApiViewModel

<div id="veiculoSelecionado">
    <p>Valor do veículo: <b>@Model.VeiculoSelecionado.Valor</b></p>
    <p>Marca: <b>@Model.VeiculoSelecionado.Marca</b></p>
    <p>Modelo: <b>@Model.VeiculoSelecionado.Modelo</b></p>
    <p>Ano do modelo: <b>@Model.VeiculoSelecionado.AnoModelo</b></p>
    <p>Combustível: <b>@Model.VeiculoSelecionado.Combustivel</b></p>
    <p>Código Fipe: <b>@Model.VeiculoSelecionado.CodigoFipe</b></p>
    <p>Mês de referência: <b>@Model.VeiculoSelecionado.MesReferencia</b></p>
</div>
